body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
}

h5{
    color:aliceblue;
}


p{
    color:aliceblue;
	margin: 30px;
}

.preguntasF{
	margin: 10vh auto;
	width: 95vh;
}
.Formulario{
	margin: 10vh auto;
	width: 95vh;
	margin-top: -50px;
}

.ASQ{
	margin: 10vh auto;
	width: 95vh;
	color: aliceblue;
	margin-top: -40px;

}

.Formulario, form, input,textarea{
	border-radius: 15px 15px 0px 15px;
}

.Formulario #BOTON{
	border-radius: 15px;
	background: transparent;
	border: 1px solid#fff;
	color: #fff;
	cursor: pointer;

}
#BOTON:hover {background-color: rgba(255, 255, 255, 0.24)}

#BOTON:active {
	box-shadow: 0 5px rgb(197, 196, 196);
	background-color: rgba(255, 255, 255, 0.397);
	transform: translateY(4px);
  }

::placeholder {
	color: gray;
	padding-left: 50px;
}

.Formulario textarea{
	margin-top: 5px;
}

.Hoja{
	background-color: rgba(255, 255, 255, 0.356);
	width: 95vh;
	margin: 0px auto;
	border-radius: 10px;
}

h2{
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

details { 
  background-color: #A9C1F4;
  width: 100%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #d8e0e9;
  color: #364f6b;
  position: relative;  
}
details summary {  
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}
details p {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  background: #5783A7;
  border-left: 2px solid #364f6b;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}

details[open] {
  background: #;
}

details[open] summary {
  font-weight: 600;
}

details summary::before {
  position: absolute;
    content: "👇";    
    font-size: 1.75rem;
    top: 10px;
    right: 16px;  
}

details[open] summary::before {
  -webkit-animation: rotate 0.6s ease-in-out both;
          animation: rotate-emoji 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}