
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
 	overflow-x: hidden;
 	font-family: 'Syne Mono', monospace;

}

.contenedor{
	 display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor1{
	text-align: center;
	width: 400px;
	background: darkcyan;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	height: 494px;
}

.contenedor h2{
	position: relative;
	color: #fff;
	text-align: center;
}

.contenedor .cont input[type="text"]{
	width: 100%;
	padding: 10px 0;
  	font-size: 16px;
  	text-align: center;
  	border-radius: 10px;
}



.cont label{
	margin-bottom: 10px;
	color: #fff;
}



.contenedor .cont input[type="submit"]{
	position: relative;
	padding: 10px;
	border-radius: 10px;
	border: transparent;

}


.two-fields{
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}


.two-fields .grupo-input{
	width: 100%;
	display: inlineflex;
	flex-direction: column;
}

.grupo-input label{
	color: #fff;
}

.two-fields input{
	width: 50px !important;
	padding: 10px 0;
	font-size: 13px;
	text-align: center;
	border-radius: 10px;

}

.imgTar{
	margin: 10px 0;
	width: 150px;
}



